@charset "utf-8";
body{font-family:Noto sans KR sans-serif; letter-spacing: -1px;}
a{color: #161616;}
.container{width: 1250px; margin: 0 auto; position: relative;}


/* HEADER */
#header{width: 100%; height: 166px; position: relative; top: 0; left: 0; z-index: 999;}
#header h1{width: 222px; height: 60px; position: absolute; top: 30px;}
#search{width: 400px; height: 45px; position: relative; top: 30px; left: 420px; border: 2px solid #111; border-radius: 50px;}
.search_input{border: none; float: left; width: 80%; height: 35px; margin-left: 16px; margin-top: 3px; padding: 0 0 4px 8px;}
.search_img{position: absolute; top: 10px; right: 15px;}
.header_link{position: absolute; top: 38px; right: 0; width: 370px;}
.link_menu>ul>li{float: left;}
.link_menu>ul>li>a{display: inline-block; padding: 0 6px; font-size: 14px; line-height: 37px; color: #777;}
.font_box{float: left; padding: 0 5px;}
.font_box>a{display: inline-block; width: 37px; border: 1px solid #e1e2e4; text-align: center; line-height: 37px; float: left;}
.font_box>.box_txt{color: #777;}
.box_img:first-child{border-right: 0;}
.box_img:last-child{border-left: 0;}
.langage{width: 117px; float: left;  border: 1px solid #d5d5d5; height: 32px; box-sizing: border-box; margin-top: 6px; margin-left: 25px;}
.select{padding: 0 5px; font-size: 16px;}
.select::before{content: ""; display: inline-block; background: url(../img/te_ctrl3.gif) no-repeat; background-position: -65px 0; width: 19px; height: 19px; margin: 4px 2px 0 2px; font-size: 11px;}
.arrow{margin-bottom: 2px;}
.sub_top::after{content: ""; display: block; clear: both;}

/* NAV */
.nav_gnb{height: 57px; padding-top: 55px; }
.nav_gnb>li{float: left; position: relative; padding: 19px 0; width: 208px; text-align: center;}
.nav_gnb::after{content: ""; display: block; clear: both;}
.nav_gnb>li>a{display: block; font-size: 21px; line-height: 18px; font-weight: 500; color: #161616;}
.nav_gnb>li:hover{background: url(../img/gnb_blt.png) no-repeat center bottom;}
.nav_gnb>li:hover>a{color: #253981;}
.nav_gnb>li>.gnb_sub{position: absolute; width: 100%; top: 57px; display: none; border-right: 1px solid #d5d5d5; background-color: #f3f4f8;}
.nav_gnb>li>.gnb_sub>li{margin-bottom: 6px; text-align: left; }
.nav_gnb>li>.gnb_sub>li:first-child{margin-top: 20px;}
.nav_gnb>li>.gnb_sub>li:hover>a{color: #253981;}
.nav_gnb>li>.gnb_sub>li>a{position: relative; display: inline-block; font-size: 15px; font-weight: 400; text-align: left; text-indent: 5px;}
.nav_gnb>li>.gnb_sub>li>a::after{content: ""; display: block; position: absolute; bottom: -1px; right: 0; left: 0; height: 2px; background: #253981; border-radius: 1px; opacity: 0;}
.nav_gnb>li>.gnb_sub>li>a:hover::after{opacity: 1;  transition: all .3s;}

/* CONTENTS */
#contents{width: 100%; padding:60px 0}
#contents::after{content: ""; display: block; clear: both;}

/* Banner */
.group1{height: 287px;}
.banner1{float: left; width: 568px; height: 287px;}
.banner2{width: 242px; height: 287px; margin-left: 30px; float: left;}
.banner2 .box_img1{background: url(../img/m_platform_bgn.png) no-repeat; width: 100%; height: 187px; background-color: #ffe3e3; text-align: center; }
.banner2 .box_img1 h2{text-align: center; font-weight: 600; color: #000; font-size: 22px; letter-spacing: -2px; padding-top: 20px;}
.banner2 .box_img1 h2 span{font-family: 'Nanum Myeongjo', serif; display: block; font-weight: 700;}
.banner2 .box_img1>span{display: block; width: 100px; margin: 70px auto 0; background: #fe7ca0; color: #fff; border-radius: 4px; line-height: 24px; font-size: 15px; text-align: center;}
.banner2 .box_img2{background: url(../img/m_newsletter_bg.png) no-repeat; width: 100%; height: 92px; background-color: #253f8c; }
.banner2 .box_img2 h2{color: #fff; font-size: 22px; font-weight: 500; padding: 15px;}
.banner2 .box_img2 span{display: block; width: 84px; color: #fff; line-height: 20px; text-align: center; border: 1px solid #fff; font-size: 15px; border-radius: 4px; margin-left: 20px;}
.banner3{float: right; width: 381px; height: 287px;}
.group2{width: 850px; margin-top: 30px; overflow: hidden; float: left;}
.health_banner{width: 568px; float: left; margin-right: 30px;}

/* TAB */
.tab{position: relative; top: 0; left: 0; }
.tab ul{}
.tab ul li{float: left; }
.tab ul li a{display: block; font-size: 19px; width: 105px; line-height: 37px; text-align: center;}
.tab ul li::after{content: ""; display: block; clear: both;}
.active a{color: #253981; border-bottom: 2px solid #51619a; font-weight: 500;}
.tab span{position: absolute; top: 4px; right: 0;}
.tab span a{width: 20px; height: 20px; float: right; transition: all .5s;}
.tab span a:hover{transform: rotate(180deg);}

/* NOTICE1 */
.health_news{width: 100%; padding-top: 30px; float: left;}
.health_news::after{content: ""; display: block; clear: both;}
.health_news>a{display: inline-block;}
.health_news ul li{width: 100%; position: relative; top: 0; left: 0; padding: 4px 0; overflow: hidden; border-bottom: 1px dotted #c7c8ca;}
.health_news ul li::after{content: ""; display: block; clear: both;}
.health_news ul li p{display: inline-block; float: left; background: #b4b2db; line-height: 23px; font-size: 13px; border-radius: 4px; color: #fff; width: 75px; text-align: center;}
.health_news ul li a{float: left; font-size: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 10px; display: block; width: 350px;}
.health_news ul li:hover a{text-decoration: underline; color: #000;}
.health_news ul li span{float: right; color: #6d6d6d; font-size: 15px; padding-right: 10px; display: block; width: 70px; text-align: right;}
.health_notice{width: 100%; padding-top: 30px; float: left; display: none;}
.health_notice::after{content: ""; display: block; clear: both;}
.health_notice>a{display: inline-block;}
.health_notice ul li{width: 100%; position: relative; top: 0; left: 0; padding: 4px 0; overflow: hidden; border-bottom: 1px dotted #c7c8ca;}
.health_notice ul li:hover a{text-decoration: underline; color: #000;}
.health_notice ul li p{display: inline-block; float: left; line-height: 23px; font-size: 13px; border-radius: 4px; color: #fff; width: 75px; text-align: center;}
.health_notice ul li p.kwon{background: #5cb85c;}
.health_notice ul li p.pal{background: #ff908b;}
.health_notice ul li p.jang{background: #67c3d1}
.health_notice ul li a{float: left; font-size: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 10px; display: block; width: 350px;}
.health_notice ul li span{float: right; color: #6d6d6d; font-size: 15px; padding-right: 10px;}

/* NOTICE2 */
.cardnews{width: 100%; padding-top: 30px; float: left; display: none;}
.cardnews::after{content: ""; display: block; clear: both;}
.cardnews>a{display: inline-block;}
.cardnews ul{}
.cardnews ul li{ width: 100%; position: relative; top: 0; left: 0; padding: 4px 0; overflow: hidden; border-bottom: 1px dotted #c7c8ca;}
.cardnews ul li a{background: url(../img/notice_blt.gif) no-repeat 0px 10px; float: left; font-size: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 10px; display: block; width: 390px;}
.cardnews ul li:hover a{text-decoration: underline; color: #000;}
.cardnews ul li span{float: right; color: #6d6d6d; font-size: 15px; padding-right: 10px;}

/* NOTICE3 */
.health_box{width: 242px; float: left; position: relative; top: 0; left: 0;}
.health_box h3{font-size: 20px; font-weight: 500; color: #000; border-bottom: 1px solid #e1e2e4;}
.health_box>span{position: absolute; top: 4px; right: 0;}
.health_box>span a{width: 20px; height: 20px; float: right; transition: all .5s;}
.health_box>span>a:hover{transform: rotate(180deg);}
.health_box_txt{float: left; overflow: hidden; margin-top: 10px;}
.health_box_txt dt{ float: left; width: 49px; height: 49px; border: 1px solid #739a77; background: #739a77; border-radius: 100px; text-align: center; color: #fff; font-size: 15px; box-sizing: border-box;}
.health_box_txt dd{float: right; width: 178px; line-height: 24px; font-size: 16px; margin-left: 15px;}
.health_box_txt dd span{color: #0e571f; }
.health_box>p{width: 100%; height: 38px; float: left; background: url(../img/main_tel_bg.gif) no-repeat; margin-top: 13px;}
.health_box>p>a{display: block; line-height: 38px;}
.health_box>p>a .tel_ico{background: url(../img/main_tel_icon.png) no-repeat; width: 30px; height: 30px; display: block; float: left; margin-top: 2px; margin-left: 30px;}
.health_box>p>a>span{text-align: center; display: block; margin: 0 auto; color: #fff; padding-left: 14px; font-size: 16px;}

/* icon_box */
.group3{width: 381px;  height: 410px; float: right; margin-top: 30px;}
.icon_box{width: 100%;}
.icon_box li{position: relative; top: 0; left: 0; background: url(../img/main_icon_bg.gif) no-repeat; width: 127px; height: 137px; border-right:3px solid #fff; border-bottom:3px solid #fff; display: inline-block; float: left; box-sizing: border-box;}
.icon_box li a{display: block; width: 100%; color: #fff; line-height: 20px; padding-bottom: 88px; text-align: center; float: left;}
.icon_box li:hover{background: #4f82c2;}
.icon_box li a span{display: block; width: 100%; font-size: 15px; font-weight: 500; position: absolute; top: 50%; left: 50%; transform: translate(-50%,100%); height: 20px; white-space: nowrap;}
.icon_box .box_1>a{background: url(../img/m_icon01.png) no-repeat center 20px;}
.icon_box .box_2>a{background: url(../img/m_icon05.png) no-repeat center 20px;}
.icon_box .box_3>a{background: url(../img/m_icon02.png) no-repeat center 20px;}
.icon_box .box_4>a{background: url(../img/m_icon04.png) no-repeat center 20px;}
.icon_box .box_5>a{background: url(../img/m_icon03.png) no-repeat center 20px;}
.icon_box .box_6>a{background: url(../img/m_icon06.png) no-repeat center 20px;}
.icon_box .box_7>a{background: url(../img/m_icon07.png) no-repeat center 20px;}
.icon_box .box_8>a{background: url(../img/m_icon08.png) no-repeat center 20px;}
.icon_box .box_9>a{background: url(../img/m_icon09.png) no-repeat center 20px;}

/* onclick_box */
.onclick_box{width: 830px; float: left; margin-top: 28px;}
.onclick_box h3{font-size: 20px; color: #000; margin-bottom: 12px;}
.onclick_box ul li{width: 205px; height: 85px; float: left; border: 1px solid #e1e2e4; margin-right: 2px; box-sizing: border-box; position: relative;}
.onclick_box ul li a{display: block; width: 100%; height: 85px; padding-top: 22px; padding-left: 22px; font-size: 16px;}
.onclick_box ul li:hover a{color: #253981;}
.onclick_box ul li:hover span{position: absolute; left: 40px; bottom: 20px;}
.onclick_box ul li span{display:inline-block; width: 54px; height: 5px; background: url(../img/onclick_more.png) no-repeat; position: absolute; left: 20px; bottom: 20px; transition: all .5s ease; }
.onclick_box ul li.bg_1{background: url(../img/oneclick_bg1.jpeg) no-repeat;}
.onclick_box ul li.bg_2{background: url(../img/oneclick_bg2.jpeg) no-repeat;}
.onclick_box ul li.bg_3{background: url(../img/oneclick_bg3.jpeg) no-repeat;}
.onclick_box ul li.bg_4{background: url(../img/oneclick_bg4.jpeg) no-repeat;}

/* footer */
.footer_link{background: url(../img/footer_conbg.gif) repeat-x; width: 100%; height: 40px;}
.footer_link::after{content: ""; display: block; clear: both;}
.link_txt{height: 40px;}
.link_txt ul .info{background: url(../img/newlinkw.png) no-repeat bottom 15px right 0; text-align: left; float: left; padding-right: 20px; line-height: 200%; line-height: 40px;}
.link_txt ul .info a{color: #fff; font-size: 14px;}
.link_txt ul .link_shortcut{background: url(../img/icon_close.png) no-repeat 95% 9px; float: right; width: 176px; height: 40px; line-height: 40px; border-left: 1px solid #949494; border-right: 1px solid #949494; text-align: left; padding-left: 10px; box-sizing: border-box;}
.link_txt ul .link_shortcut a{color: #fff; font-size: 14px;}

.addr_loca{padding: 20px 0; width: 100%; overflow: hidden;}
.footer_addr .addr_loca ul{}
.footer_addr .addr_loca ul li{float: left; width: 25%;}
.footer_addr .addr_loca ul li dt{color: #000; font-weight: 500; letter-spacing: -1px;}
.footer_addr .addr_loca ul li dl{color: #7a7a7a; font-size: 15px;}
.copyright{font-size: 14px; color: #7a7a7a; margin-bottom: 30px;}